@model SampleMVC.Dto.UserDto

@{
    ViewBag.Title = "Details";
}

<h2>Details </h2>

<div>
    <h4>User</h4>
    <hr />
    @if (Model != null)
    {
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Password)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Password)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CompanyId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CompanyId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AccountId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AccountId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LicenseKey)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LicenseKey)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MasterId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MasterId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CityCode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CityCode)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RegionCode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RegionCode)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CountryCode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CountryCode)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PostalCode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PostalCode)
            </dd>

        </dl>
    }
    else
    {
        <h2>User with id @ViewBag.Id doesn't exist</h2>

    }

</div>
<p>
    @if (Model != null)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) 
    }
    @Html.ActionLink("Back to List", "List")
</p>
